@charset "utf-8";

.bizbg {
    width: 100%;
    height: 300px;
    background-image: url(../images/bizbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.businessPage {
    padding-bottom: 100px;
}

.businessBox {
    width: 20%;
    float: left;
}

.bizfieldBox {
    width: 75%;
    float: left;
    padding: 0 30px;
}

.businessBox h1 {
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 26px;
    font-weight: 800;
    background: #5b95c9;
    text-align: center;
}

.businessBox p {
    color: #666;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    background: #eee;
    text-indent: 2em;
    border-top: 2px solid #fff;
    transition: all 0.5s;
}

.businessBox p:hover {
    color: #fff;
    background: #333;
}

.section0 {
    padding: 70px 0;
}

.section0 h1 {
    color: #444;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.section0 h2 {
    color: #555;
    font-size: 23px;
}

.section1 {
    vertical-align: middle;
}

.bizfieldBox .b_article {
    width: 50%;
    display: inline-block;
    color: #666;
}

.bizfieldBox h3 {
    font-size: 30px;
}

.bizfieldBox p {
    font-size: 17px;
    padding-top: 20px;
}

.bizfieldBox img {
    width: 40%;
}