@charset "utf-8";

/* 헤더구역, 푸터구역 등 기타 공통구역에 대한 스타일 */
.row {
    max-width: 1300px;
    margin: 0 auto;
}

#header {
    width: 100%;
    top: 0;
    left: 0;
    color: #ccc;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99999;
}

.topmenu {
    height: 40px;
    padding: 10px 15px 0 15px;
}
.topline {
    position: relative;
}
.topline .sns, 
.topline .phone{
    float: left;
}
.topline .phone {
    margin-left: 50px;
}

.topline .member {
    float: right;
    font-size: 13px;
    padding-right: 50px;
}
.topmenu .sns a {
    margin: 5px;
}

.topmenu .member a {
    transition: all 0.5s;
}

.topmenu .member a:hover {
    color: #fff;
}

.topmenu .member a::before {
    content: '|';
    padding: 0 10px;
    font-size: 5px;
}

.topmenu .member a:first-child::before {
    display: none;
}

.topmenu .phone span {
    font-size: 13.5px;
    margin-right: 20px;
}



.logonav {
    border-top: 1px dotted rgba(180, 180, 180, 0.4);
    position: relative;
}

.logonav h1 {
    height: 70px;
    line-height: 70px;
}

.logonav .nav {
    position: absolute;
    top: 0;
    right: 0;
}

.logonav .nav .depth1>li {
    display: inline-block;
    position: relative;
    transition: all 0.5s;
    right: 40%;
}

.logonav .nav .depth1>li:hover {
    color: #fff;
}

.logonav .nav .depth1>li>a {
    text-align: center;
    font-weight: 600;
    padding: 0 10px 0 80px;
    line-height: 70px;
    display: inline-block;
}

.logonav .depth2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 20%;
    width: 100%;
    color: rgb(180, 180, 180, 1);
    background: rgba(0, 0, 0, 0.6);
}

.logonav .nav .depth2>li {
    display: block;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s;
    margin: 0 20px;
}

/* common.js에서 호버 효과를 주었기에 삭제 */
/* .logonav .depth1>li:hover .depth2 {
    display: block;
    z-index: 999999;
} */

.logonav .nav .depth2 .borderb {
    border-bottom: 1px dotted #666;
}


.logonav .nav .depth2>li:hover {
    color: #fff;
    font-size: 17px;
}


/*-----------------------footer ----------------------*/

.footerinfo {
    padding: 40px 0;
    background: #39454b;
    color: #bbb;
    height: 225px;
}

.footerinfo h3 {
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: 10px;
}

.footerinfo p {
    padding-top: 10px;
}

.footerwrap>.contact,
.footerwrap>.info,
.footerwrap>.sns {
    float: left;
    padding-left: 50px;
    width: 33.33%;
}

.info p:nth-of-type(2)::before,
.info p:nth-of-type(3)::before {
    content: '·';
}

.icons a {
    margin: 0 7px;
}

.footerbot {
    color: #666;
    padding: 30px 0;
    font-size: 13px;
    line-height: 2;
    letter-spacing: -1px;
}

.introAni {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 999999999999;
    font-size: 30px;
    color: gray;
}

.introAni .loading {
    padding: 100px 0 0 200px;
}

.introAni span {
    position: absolute;
    top: 55%;
    left: 3%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

/* 팝업창 */
#popupBox {
    position: absolute;
    top: 100px;
    left: 200px;
    display: none;
}

#popupBox .btnBox {
    background: #ddd;
    text-align: center;
    padding: 8px;
}

#popupBox .btnBox button {
    border: 1px solid #000;
    padding: 0 5px;
}