@charset "utf-8";
@import "reset.css";
/* common 보다 먼저 읽혀야 된다 */
@import "common.css";



/*----------------------------------- footer -------------------------------*/
/*---------------- footerinfo ----------------*/

.footerinfo {
    padding: 40px 0;
    background: #39454b;
    color: #bbb;
    height: 225px;
}

.footerinfo h3 {
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: 10px;
}

.footerinfo p {
    padding-top: 10px;
}

.footerwrap>.contact,
.footerwrap>.info,
.footerwrap>.sns {
    float: left;
    padding: 0 15px;
    width: 33.33%;
}

.info p:nth-of-type(2)::before,
.info p:nth-of-type(3)::before {
    content: '·';
}

.icons a {
    margin: 0 7px;
}

/*----------------footerbot ------------------*/
.footerbot {
    color: #666;
    padding: 30px 0;
    font-size: 13px;
    line-height: 2;
    letter-spacing: -1px;
}