@charset "utf-8";
@import "reset.css";
@import "common.css";

#joinpage {
    padding: 150px 0 100px;
}

#joinpage h1 {
    margin: 50px 0 50px;
    text-indent: 4em;
    font-size: 20px;
}

#joinpage h2 {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#joinpage li {
    border-bottom: 1px solid #ccc;
}

.joininfo .tit_lbl {
    display: inline-block;
    width: 20%;
    line-height: 60px;
    text-align: center;
    border-right: 1px solid #ccc;
}

.joininfo .info_content {
    display: inline-block;
    width: 79%;
    vertical-align: middle;
    padding-bottom: 3px;
}

.joininfo .info_content input[type="text"],
.joininfo .info_content input[type="password"],
.joininfo .info_content input[type="date"],
.joininfo .info_content select {
    height: 30px;
    border: 1px solid #555;
}

.info_content span {
    font-size: 13px;
    color: #333;
}

.info_content button {
    background: #D7BA9A;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    height: 25px;
    color: white;
}

.info_content button i {
    color: brown;
}

#id_lbl span {
    size: 7px;
    color: #555;
}

.joininfo .w100 {
    width: 100px;
}

.joininfo .w160 {
    width: 160px;
}

.joininfo .w400 {
    width: 400px;
}

.joininfo .add_area {
    /* border: 1px solid red; */
    margin: 10px 0 10px;
}

.addinfo {
    margin: 50px 0px 50px;
}

.addinfo h3 {
    padding-bottom: 10px;
}

.addinfo textarea {
    height: 100px;
    width: 70%;
    border: 1px solid #ccc;
    font-size: 15px;
    letter-spacing: -1px;
    color: #444;
    padding: 10px;
    line-height: 1.5;
    resize: none;
}


.join_form .btn {
    margin-top: 100px;
    text-align: center
}

.join_form .btn input {
    width: 80px;
    height: 40px;
    background: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 20px
}