@charset "utf-8";

@media screen and (max-width: 1180px) {
    .row {padding: 0 10px;}
    .slideInner {
        width: 100%;
        height: 800px;
        overflow: hidden;
      }
      
      .slideInner .slide {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
      }

    .topmenu {
        height: 40px;
        padding: 10px 15px 0 10px;
    }
    .topline .member {
      float: right;
      font-size: 13px;
      padding-right: 10px;
  }
    
    
  .logonav h1 {
    height: 70px;
    line-height: 70px;
}

.logonav .nav {
    position: absolute;
    top: 0;
    right: 0;
}

.logonav .nav .depth1>li {
    display: inline-block;
    position: relative;
    transition: all 0.5s;
    left: 0;
}
.logonav .nav .depth1>li>a {
  text-align: center;
  font-weight: 600;
  padding: 0 20px 0 50px;
  line-height: 70px;
  display: inline-block;
}

.service {
  padding: 50px 20px;
  }
.service .box_first,
.service .box_third {
  float: left;
  width: 33.33%;
  padding-top: 50px;
}
.service .box_second {
    float: left;
    width: 33.33%;
    padding: 0 20px;
  }


.board h2 {
    color: #555;
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  .board .pmore {
    padding-left: 150px;
  }
  
  .board .nmore {
    padding-left: 240px;
  }

  .board .gallery a img {
    width: 31%;
    margin: 0 0.6%;
  }
}


@media screen and (max-width: 1100px) {
  .board .pmore {
    padding-left: 120px;
  }
  
  .board .nmore {
    padding-left: 210px;
  }

  .board .gallery a img {
    width: 31%;
    margin: 0 0.5%;
  }

}

@media screen and (max-width: 1024px) {
  .topmenu {
    height: 30px;
    padding: 5px 10px;
    
  }
  .topline .phone {
    margin-left: 20px;
}
  .topline .member {
  float: right;
  font-size: 13px;
  padding-right: 40px;
  }

  .logonav h1{
    text-align: center;
  }
    .logonav .nav {
      position: relative;
      top: 0;
      right: 2%;
    }

.service {
  padding: 30px 20px;
  }
.service .box_first,
.service .box_third {
  float: left;
  width: 33.33%;
  padding-top: 10px;
}
.service .box_second {
    float: left;
    width: 33.33%;
    padding: 0 15px;
  }
  .service .box_first>h1,
  .service .box_third>h1 {
    font-size: 25px;
  }
  .service .box_first>p,
.service .box_third>p {
  font-size: 14px;
}  

.board .pmore {
  padding-left: 50px;
}

.board .nmore {
  padding-left: 125px;
}

.board .gallery a img {
  width: 31%;
  margin: 0 0.2%;
}

.notice td:last-child {
  display: none;
}
}

@media screen and (max-width: 767px) {
    
}